.container {
    margin-top: 7%;
    font-size: small;
}

nav, .container {
    font-family: 'Prompt', sans-serif;
}

h4, h5 {
    text-align: center;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}