.container {
    padding-top: 100px;
    font-size: small;
}

nav, .container {
    font-family: 'Prompt', sans-serif;
}

span {
    padding: 1%;
}

th {
    font-weight: bolder;
    font-size: larger;
}

h4, h5 {
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}