html, body {
    height: 100%;
    width: 100%;
}
  
#signin {
    padding: 3%;
}

#content {
    border-radius: 3%;
}

.input-container {
    width: 100%;
}

#forgot {
    color: #007bff;
    font-weight: lighter; 
}

h1 {
    text-align: center;
}

p {
    font-weight: lighter;
    text-align: left;
}