a {
    color: #212529;
}

nav {
    font-family: 'Prompt', sans-serif;
}

#card {
    font-family: 'Prompt', sans-serif;
    justify-content: flex-start;
    width: 100%;
    font-size: x-small;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

.card-title {
    text-align: center;
}

.row {
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-evenly;
    font-size: x-small;
}

#homeBet {
    margin: 2%;
}

#visitorBet {
    margin: 2%;
}

#draw {
    margin: 2%;
}

#footer {
    color: grey;
    font-size: xx-small;
}