a {
    color: #212529;
}

nav, .card {
    font-family: 'Prompt', sans-serif;
}

.card-title {
    text-align: center;
}

.row {
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-evenly;
    font-size: small;
}

.card {
    width: auto;
    justify-content: flex-start;
    width: fit-content;
    font-size: small;
}

#homeBet {
    margin: 2%;
}

#visitorBet {
    margin: 2%;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}