.container {
    padding-top: 80px;
}

nav, .container {
    font-family: 'Prompt', sans-serif;
}

#edit, #delete {
    margin: 1%;
}

span {
    padding: 1%;
}

h5 {
    text-align: center;
}

.list-group-item {
    border: none;
}

.card {
    border: none;
    text-align: center;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}