form {
  font-family: 'Prompt', sans-serif;
}

#register {
  padding: 3%;
}

#content {
  border-radius: 3%;
}

.input-container {
  width: 100%;
  align-content: center;
}

h1 {
  text-align: center;
}

#signin {
  text-align: center;
}

#sub {
  text-align: center;
}
