form {
  font-family: 'Prompt', sans-serif;
}

#register {
  padding: 3%;
}

#content {
  border-radius: 5%;
  margin: 3%;
}

.input-container {
  width: 100%;
  align-content: center;
  margin-bottom: 3%;
}

h1 {
  text-align: center;
}

#signin {
  text-align: center;
}

#sub {
  text-align: center;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
