https://encycolorpedia.com/teams/football/epl

const colours = {
    /* A.F.C. Bournemouth */
    35: {
      containerBackground: "#8b0304",
      h2: "#black",
      cardBackground: "white",
      cardBorder: "#a8996e"
    },
    /* Arsenal F.C. */
    42: {
        containerBackground: "#ef0107",
        h2: "#023474",
        cardBackground: "white",
        cardBorder: "#9c824a"
    },
    /* Brighton & Hove Albion F.C. */
    51: {
        containerBackground: "#005daa",
        h2: "white",
        cardBackground: "white",
        cardBorder: "#fdb913"
    },
    /* Burnley F.C. */
    44: {
        containerBackground: "#97d7f5",
        h2: "white",
        cardBackground: "#e3ee4f",
        cardBorder: "#e3ee4f"
    },
    /* Cardiff City F.C. */
    43: {
        containerBackground: "#2b58ae",
        h2: "white",
        cardBackground: "white",
        cardBorder: "#7f181e"
    },
    /* Chelsea F.C. */
    49: {
        containerBackground: "#034694",
        h2: "white",
        cardBackground: "white",
        cardBorder: "#ed1c24"
    },
    /* Crystal Palace F.C. */
    52: {
        containerBackground: "#f4f4f4",
        h2: "#27409b",
        cardBackground: "white",
        cardBorder: "#27409b"
    },
    /* Everton F.C. */
    45: {
        containerBackground: "#274488",
        h2: "white",
        cardBackground: "white",
        cardBorder: "white"
    },
    /* Fulham F.C. */
    36: {
        containerBackground: "black",
        h2: "#cc0000",
        cardBackground: "white",
        cardBorder: "#cc0000"
    },
    /* Huddersfield Town A.F.C. */
    37: {
        containerBackground: "#192552",
        h2: "#deddde",
        cardBackground: "white",
        cardBorder: "#b68323"
    },
    /* Leicester City F.C. */
    46: {
        containerBackground: "#0053a0",
        h2: "white",
        cardBackground: "white",
        cardBorder: "#fdbe11"
    },
    /* Liverpool F.C. */
    40: {
        containerBackground: "#dd0000",
        h2: "white",
        cardBackground: "white",
        cardBorder: "#008875"
    },
    /* Manchester City F.C. */
    50: {
        containerBackground: "#6caddf",
        h2: "#00285e",
        cardBackground: "white",
        cardBorder: "#d4a11e"
    },
    /* Manchester United F.C. */
    33: {
        containerBackground: "#da020e",
        h2: "#ffe500",
        cardBackground: "#ffe500",
        cardBorder: "black"
    },
    /* Newcastle United F.C. */
    34: {
        containerBackground: "#00b6f1",
        h2: "#231f20",
        cardBackground: "#bbbdbf",
        cardBorder: "#f0b83d"
    },
    /* Southampton F.C. */
    41: {
        containerBackground: "#211e1f",
        h2: "#ffc20e",
        cardBackground: "white",
        cardBorder: "#ed1a3b"
    },
    /* Tottenham Hotspur F.C. */
    47: {
        containerBackground: "#132257",
        h2: "white",
        cardBackground: "white",
        cardBorder: "white"
    },
    /* Watford F.C. */
    38: {
        containerBackground: "#fbee23",
        h2: "black",
        cardBackground: "white",
        cardBorder: "#ed2127"
    },
    /* West Ham United F.C. */
    48: {
        containerBackground: "#7c2c3b",
        h2: "#f8d742",
        cardBackground: "white",
        cardBorder: "#2dafe5"
    },
    /* Wolverhampton Wanderers F.C. */
    39: {
        containerBackground: "#fdb913",
        h2: "#231f20",
        cardBackground: "white",
        cardBorder: "white"
    }
} 

nav, .container {
    font-family: 'Prompt', sans-serif;
}

.container {
    background-color: ${containerBackground}
}

span {
    padding: 1%;
}

h5 {
    text-align: center;
}

#club {
    text-align: center;
}

#card {
    overflow: scroll;
}

.header {
    padding-top: 80px;
    justify-content: space-evenly;
    font-size: small;
}

#roster, #games, #standing {
    width: fit-content;
    margin: 1%;
}

#placeBet {
    width: 10%;
    font-size: 0.3;
}

#homeBet, #visitorBet {
    font-size: 0.4%;
    padding: 0px;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}