* {
    margin: 0;
    padding: 0;
}

nav, .container {
    font-family: 'Prompt', sans-serif;
    padding-right: -15px !important;
    padding-left: -5px !important;
}

span {
    padding: 1%;
}

h5 {
    text-align: center;
}

#club {
    text-align: center;
}

#card {
    overflow: scroll;
}

.header {
    padding-top: 80px;
    justify-content: space-evenly;
    font-size: small;
}

#roster, #games, #standing {
    width: fit-content;
    margin: 1%;
}

#placeBet {
    width: 10%;
    font-size: 0.3;
}

#homeBet, #visitorBet {
    font-size: 0.4%;
    padding: 0px;
}

#footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}